<form [formGroup]="countryForm" class="adminForm" (ngSubmit)="onSubmit()" >
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput #countryName formControlName="name" [(ngModel)]="selectedCountry.name" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>An- und Abreise Pauschale</mat-label>
        <input matInput #destRate formControlName="destRate" [(ngModel)]="selectedCountry.rate" type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tagespauschale</mat-label>
        <input matInput #rate formControlName="rate" [(ngModel)]="selectedCountry.destRate" type="number">
    </mat-form-field>
    <button type="submit" mat-icon-button>
        <mat-icon>save</mat-icon>
    </button>
</form>
<mat-error *ngIf="exists"> Land bereits vorhanden </mat-error>
