<form [formGroup]="countryForm" class="row g-2" (ngSubmit)="onSubmit()">
    <div class="col-md-12">
        <label>Name</label>
        <input #countryName formControlName="name"  type="text" class="form-control"
            autocomplete="none">
    </div>
    <div class="col-md-6">
        <label>An-und Abfahrtspauschale</label>
        <input #destRate formControlName="destRate"   type="number"
            class="form-control">
    </div>
    <div class="col-md-6">
        <label>Tagespauschale</label>
        <input #rate formControlName="rate" type="number" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            Speichern
        </button>
    </div>
</form>
<mat-error *ngIf="exists"> Land bereits vorhanden </mat-error>